{% extends "flask_user_layout.html" %}
{% block content %}
<style>
    /* Custom styles for links and other elements */
    .label.label-default {
        color: #d0ff00; /* color for labels */
    }

    /* Additional creative styles can be added here */

</style>

<div class="container">
    <h2>Genres</h2>

    <form method="post" action="{{ url_for('movies_page') }}">
        <label>Select Genre(s):</label>
        {% for genre in genres %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="selected_genres" value="{{ genre }}">
                    {{ genre }}
                </label>
            </div>
        {% endfor %}
        <button type="submit">Filter</button>
    </form>
    <h2>Movies</h2>
    <form method="post" action="{{ url_for('show_movies_results') }}">
    <label>Rate as many movies that you have seen as possible:</label>

    {% for i in range(0, movies|length, 10) %}
    <div id="page_{{ loop.index }}" class="movie-page {% if loop.index != 1 %}hidden{% endif %}">

       {% for m in movies[i:i+10] %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>{{ m.title }}</b></div>
                <div class="panel-body">Genres
                    <p>
                        {% for g in m.genres %}
                            <span class="label label-default">{{ g.genre }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="panel-body">Tags
                    <p>
                        {% for t in m.tags %}
                            <span class="label label-default">{{ t.tag}}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="panel-body">Links
                    <p>
                        {% for l in m.links%}
                        <a href="http://www.imdb.com/title/tt0{{l.imdb_id }}" target="_blank" class="label label-default">IMDb Link</a>
                        <a href="http://www.themoviedb.org/movie/{{l.tmdb_id}}" target="_blank" class="label label-default">Moviedb Link</a>
                        <a href="http://www.movielens.org/movies/{{l.movie_id }}" target="_blank" class="label label-default">Movielens Link</a>
                        {% endfor %}
                    </p>
                </div>
                <div class="panel-footer">Rate:
                    <label for="rating_{{ m.id }}">Rate (1-5):</label>
                    <select name="rating_{{ m.id }}" id="rating_{{ m.id }}" >
                        <option value="" selected disabled hidden>No Rating</option>
                        <option value="5">5 - Excellent</option>
                        <option value="4">4 - Very Good</option>
                        <option value="3">3 - Good</option>
                        <option value="2">2 - Fair</option>
                        <option value="1">1 - Poor</option>
                    </select>
                </div>
            </div>

        {% endfor %}
    </div>
    {% endfor %}

    <div class="pagination-buttons">
        {% for i in range(1, (movies|length // 10) + 1) %}
        <button class="page-button" onclick="return showPage({{ i }})">{{ i }}</button>



        {% endfor %}
    </div>
        <button type="submit">Show Recommendations</button>
    </form>

   
    
</div>

<script>
    function showPage(pageNumber) {
        var pages = document.querySelectorAll('.movie-page');
        for (var i = 0; i < pages.length; i++) {
            pages[i].classList.add('hidden');
        }
        document.getElementById('page_' + pageNumber).classList.remove('hidden');
        
        // Ensure form is not submitted
        return false;
    }
</script>

{% endblock %}
